* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #374785;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 20px;
}

.container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 10px 10px rgb(0, 0, 0, 40%);
    padding: 20px;
    max-width: 100%;
    width: 400px;
    text-align: center;
}

h4 {
    opacity: 40%;
    letter-spacing: 2px;
}

#joke {
    font-size: 20px;
    margin: 20px;
    line-height: 40px;
    letter-spacing: 1px;
}

button {
    font-family: inherit;
    background-color: #F76C6C;
    color: white;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    filter: brightness(110%);
}

.footer {
    position: fixed;
    padding: 6px;
    font-size: .75rem;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #24305e;
    color: white;
    text-align: center;
  }

  .footer a {
    color: white;
    font-size: .75rem;
    margin-right: 3px;
    text-decoration: none;
}